@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@media (max-width: 768px) {
    .categories .heading  {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    p h1  {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .categories-box .product-box {
        max-width: 200px; 
}
}

@media (max-width: 768px) {
    .features .features-container {
        max-width: 200px; 
}
}

@media (max-width: 768px) {
    .home bg{
        max-width: 200px; 
}
}

:root{
    --blue:#00d4f0;
    --black:#130f40;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline:  1rem solid rgba(0,0,0,.1); 
    --outline-hover:  .2rem solid rgba(0,0,0,.1); 

}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    scroll-behavior: smooth;
}
body{
    background: #e0e0e0;
}

/* header section start */
.header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: var(--box-shadow);
    background: #FFF;
}
.header h1{
    font-size: 2rem;
    cursor: pointer;
    color: var(--light-color);
}
.header h1 span{
    color: var(--blue);
}

.header .navbar{
    margin: 0rem 10rem 0 10rem;
    padding: 5px;  
}

.header .navbar a{
    padding: 1rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}
.header .navbar a:hover{
    color: var(--blue);
}
.header .navbar .active{
    color: var(--blue);
}
.header .navbar:hover .active{
    color: var(--black);
}
.header .icon i{
   margin: 0 2px 0 2px;
   padding: 5px;
   font-size: 1rem;
   cursor: pointer;
  
}
.header .icon i:hover{
    background: var(--blue);
}

.search{
    position: absolute;
    right: 1.5rem;
    top: 6rem;
}
.search input{
    width: 20rem;
    font-size: 1rem;
    padding: 10px;
    border-radius: 1rem;
    font-weight: 500;
    box-shadow: var(--box-shadow);
}

.search  i{
    background: #fff;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);

} 

/* header section end */

/* home section start */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('second-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;  
}
.home .home-container{

    margin-left: 40rem;

    padding: 2rem;
}
.home .home-container h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Lobster', cursive;
}
.home .home-container h1 span{
    color: var(--blue);
    font-family: 'Lobster', cursive;
}
.home .home-container p{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);

}
.btn{
    top: 23rem;
    left: 43rem;
    margin-top: 1rem;
}
.btn button{
    padding: 5px 1rem 5px 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--blue);
    border-radius: .5rem;
    cursor: pointer;
    font-family: cursive;
    transition: .4s;
}
.btn button:hover{
    transform: scale(0.95);
}

/* home section end*/

/* feartures section start */

.features{

   margin: 1rem;
   margin-top: 3rem;
 
}
.features .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--light-color);
}
.features .heading span{
    color: var(--black);
    padding-right: 1rem;
}
.features .features-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 0fr));
    gap: 5rem;
    margin: 2rem;
}

.features .features-container .box.features .features-container .box{
   padding: 1rem;
   width: 18rem;
   border: 2px solid var(--outline);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   transition: .5s;

}


.features .features-container .box img{
    height: 10rem;
    margin: 1rem 0;
    border-radius: 1rem;
    margin-left: 10px;
    transition: .5s;
    cursor: pointer;
}
.features .features-container .box .img-3{
    margin-left: 2rem;
}
.features .features-container .box img:hover{
    transform: scale(0.95);
}
.features .features-container .box h4{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

.features .features-container .box h4 i{
    margin-left: 6rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s;
}

.features .features-container .box  h4 i:hover{
    color:  var(--blue);
    transform: translate(0px, 5px);
}

/* feartures section end */

/* post section start */
.post {
  
    margin: 4rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}
.post .post-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 8rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
}


.post .post-box-1 img{
    height: 100%;
    width: 160%;
    border-radius: .5rem;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.post .post-box-2 img{
    height: 100%;
    width: 90%;
    margin-left:5rem;
    /* padding: 1rem; */
    border-radius: .5rem;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.post .post-box-3 img{
    height: 100%;
    width: 90%;
    margin-left:5rem;
    /* padding: 1rem; */
    border-radius: .5rem;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

/* post section end */
/* categories section start */

.categories{
 
    /* margin: 2rem; */
    padding: 1rem;
}
.categories .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--light-color);
}
.categories .heading span{
    color: var(--black);
    padding-right: 1rem;
}
.categories p{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: var(--light-color);
   
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(1rem, 3fr));
    gap: 2rem;
    padding: 1rem;
    padding-left: 3rem;

}
.categories-box{
    border: 2px solid var(--outline);
    padding: 1rem;
    color: var(--light-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.categories-box h3{
    color: var(--black);
}
.categories-box p{
    padding-bottom: 2rem;
    font-size: 15px;
}
.categories-box img{
    height: 70%;
    width: 100%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
/* categories section end */


/* products section start */
.products{

    margin: 2rem;
    padding: 1rem;
}
.products h5{
    display: flex;
    justify-content: center;
    color: var(--blue);
    font-size: 1.5rem;
}
.products .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--light-color);
}
.products span{
    color: var(--black);
    padding-right: 1rem;
}
.products p{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: var(--light-color);
}
.products .product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(15rem , 3fr));
    gap: 1.5rem;
    margin: 1rem;
    padding: 1rem;
}
.products .product-container .product-box{
   height: 20rem;
    padding: 1rem;
    border-radius: .5rem;
   background: #eee;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: var(--box-shadow);
}

.products .product-container .product-box img{
    height: 80%;
    width: 90%;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}
.products .product-container .product-box .btn-product{
    background: var(--blue);
    width: 50%;
    border-radius: 1rem;
    font-size: 1rem;font-weight: 600;
    color: var(--black);
    transition: .4s;
}
.products .product-container .product-box .btn-product:hover{
    transform: scale(.95);
}

.contact{
   background-color: #d6d6d6;
    padding: 1.5rem;
    color: rgb(85, 83, 83);
  }
  .contact h1{
      margin: 1rem;
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      background: transparent;
      color: var(--blue);
        
  }
 
.contact h1 span{
    color: var(--light-color);

}
   .contact .contact-container{
       display: grid;
       grid-template-columns: repeat(auto-fit , minmax(3rem , 1fr));
       gap: 1rem;
       background: transparent;
   }
   .contact span{
      color: var(--main-color);
   }
  .box p{
      background: transparent;
  }
  .box p span{
      color: var(--main-color);
      font-size: 2rem;
      font-weight: 700;
  }
  .box .icorn{
      background: transparent;
  }
  .box .icorn i{
      padding: 5px;
      font-size: 1rem;
      border-radius: .5rem;
      color: var(--text-color);
      margin: 2px;
      background: var(--main-color);
      transition: .5s;
  }
  .box .icorn i:hover{
      transform: scale(1.5);
  }
  .box h3{
      margin-bottom: 1rem;
      background: transparent;
      color: var(--second-text-color);
      font-weight:400;
  }
  .contact .contact-container .box{
      display: flex;
      flex-direction: column;
      margin-left:5rem ;
      background: transparent;
  }
  .contact .contact-container .box a{
      text-decoration: none;
      color: var(--second-text-color);
      font-size: 14px;
      margin: 5px;
      background: transparent;
      transition: .5s;
  }
  
  .contact .contact-container .box a:hover{
      padding-left: 1rem;
      color: var(--main-color);
  }
  .box input{
      padding: 5px;
      color: var(--text-color);
      border: none;
      background: transparent;
      border-bottom: 2px solid var(--main-color);
  }
  .section h5 {
      float: right;
      color: aqua;
      align-items: center;
     
  }